/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
/* ===================
GENERAL
======================*/
h2, .heading-block h2 {
    font-size: 40px;

}

h3 {
    font-size: 30px;

}

.feature-box p {
    font-size: 18px;
    color: #717372;
    text-align: justify;
}

.text-feature{
    padding:0 !important;
}

/* ===================
SLIDERS
======================*/
.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}

.tp-video-play-button {
    display: none !important;
}

.tp-caption {
    white-space: nowrap;
}

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}

.tp-video-play-button {
    display: none !important;
}

.tp-caption {
    white-space: nowrap;
}

.footer-big-contacts {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.landing-wide-form{
    width: 600px;
}

/* ===================
FOOTER
======================*/

.footer-big-contacts span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #696b6a;
    letter-spacing: 2px;
}

.dark .footer-big-contacts {
    color: rgba(255, 255, 255, 0.8);
}

#orgChart {
    min-height: 450px;
}

.orgchart.l2r .node .title {
    background: #262f7c;
}

/* ===================
HEADER
======================*/
#logo img {
    padding: 35px 0 0;
    width: 200px;
    height: auto;
}

#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: auto;
    padding: 15px 0 0;
}

.current {
    color: #262f7c;
}

.table-hover > tbody > tr:hover {
    color: #696b6a;
}

.parallax {
    background-attachment: fixed;
}

/*#header.transparent-header{
    background: rgba(214, 214, 214, 0.28);
}*/

#primary-menu ul li > a{
    font-size: 16px;
}

#header.semi-transparent{
    background-color: rgba(255, 255, 255, 0.6);
}

    /* ===================
	IMAGE
	======================*/

/*.pictureBox {
    box-shadow: 5px 5px 5px #696b6a;
    border-radius: 5px;
}*/

.pictureImage {
    border-radius: 5px;
}

.portfolio-item{
    width: 33% !important;
    padding: 5px !important;
}

.nomargin{
    margin: -25px !important;
}

/* ===================
footer
======================*/

.col_one_third, .col_two_third {
    width: 30%;
}

.col_one_third {
    margin-top: 20px;
}

.col_one_third.col_last{
    margin-top: 50px;
}

.center {
    text-align: center;
}

#footer .footer-widgets-wrap {
    padding: 0;
}

#footer .footer-widgets-wrap div.col_one_third {
    vertical-align: middle;
}

.footer-logo {
    margin: 0;
    vertical-align: middle;
}

.landing-form-overlay {
    bottom: -175px;
}

#footer.dark {
    background-color: #64626f;
    /*background-color: #bfc4e4;
    color: #262f7c;*/
    vertical-align: middle;

}

#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#copyrights {
    padding: 10px 0;
}

#logo img {
    padding: 25px 0 0;
    /*width: 250px;*/
    height: auto;
    transition: padding 0.5s;
}

.whiteText {
    color: #fff;
}
/* ===================
SEPERATOR
======================*/
.divider:after, .divider.divider-center:before, .divider.divider-center.divider-short:before   {
    border-top: 1px solid #A7A3B6;

}


#imageBuilding img{
    width: 100%;
}

#request .btn-submit{
    background-color: #232323;
    color: #fcfcfc;
}

#request .container{
  background-color: rgba(43, 52, 121, 0.92);
    border-radius: 10px;
}

    /*****************************************
	  RADIO BUTTONS
	******************************************/
input[type="radio"] {
    display: none;
}
input[type="radio"] + span {
    background-color: #fefefe;
    border: 1px solid;
    border-color: #ccc #fff #fff #ccc;
    border-radius: 50px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 10px;
    position: relative;
    -webkit-appearance: none;
}
input[type="radio"]:checked + span {
    color: #00f;
}
input[type="radio"]:checked + span:after {
    background: #00f;
    border-radius: 50px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.75), inset -1px -1px 1px rgba(0, 0, 0, 0.75);
    content: " ";
    height: 15px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 15px;
}
label:hover input[type="radio"] + span {
    border-color: #009 #00f #00f #009;
}

/*****************************************
  CHECKBOX
******************************************/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + span {
    background-color: #fefefe;
    border: 1px solid;
    border-color: #ccc #fff #fff #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 7px;
    position: relative;
}
input[type="checkbox"]:checked + span {
    background-color: #00f;
    border-color: #009 #00f #00f #009;
    color: #fff;
}
input[type="checkbox"]:checked + span:after {
    color: #fff;
    content: "\2714";
    font-size: 13px;
    left: 2px;
    position: absolute;
    top: 1px;
}
label:hover input[type="checkbox"] + span {
    border-color: #009 #00f #00f #009;
}
label:hover input[type="checkbox"]:checked + span {
    border-color: #fff;
}