.be-top-header .navbar-header .navbar-brand{
	background: none;
	width: 100%;
	padding: 10px;
}

.be-top-header .navbar-header .navbar-brand img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin:auto;
}

.colored-header .modal-content .modal-body {
	padding: 10px;
}

.panel .panel-heading h2{
	margin-top: 5px;
}

a.label:focus,
a.label:hover{
	color: #aaa;
	opacity: 0.75;
}

.clock {
	zoom: 0.3;
	display: block;
	margin: auto;
	text-align: center;
	width: 530px;
	max-width: 70%;
	pointer-events: none;
}

.clock ul{
	overflow: hidden;
}

.flip-clock-meridium a{
	color: #ccc;
}

.wyziwyg-form .form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

.no-padding {
	padding: 0;
}

a.btn-nav {
	margin-bottom: 24px;
}

p.text-muted.font-13 {
    margin-top: 12px;
}

.animated-width {
    transition: width 750ms ease-in-out;
}

body.swal2-shown { overflow-y: visible !important; }

div.carbon-copies {
    display: none;
    /*margin: 12px 0 0 39.38px;*/
}

div.carbon-copies .select2-container { line-height: 0; }
div.carbon-copies .col-sm-2 { padding: 0; }
div.carbon-copies .select2-container--default .select2-selection--multiple { min-height: inherit; }
div.carbon-copies .btn { line-height: 36px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #008aed;
	background-color: rgba(0, 138, 237, 0.1);
}